Repository 2024-devops-alt-dist/microsaas-JS: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  fail_text: Echec pré-commit de prettier

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  fail_text: Echec pré-commit de ESLint

fix: commit client folder
  api/app.ts
  api/package-lock.json
  api/package.json
  api/tsconfig.json
  client/.gitignore
  client/README.md
  client/eslint.config.mjs
  client/next.config.ts
  client/package-lock.json
  client/package.json
  client/postcss.config.mjs
  client/public/file.svg
  client/public/globe.svg
  client/public/next.svg
  client/public/vercel.svg
  client/public/window.svg
  client/src/app/favicon.ico
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/tsconfig.json
Due: prettier, eslint

fix: eslint for whole project
  api/app.ts
  eslint.config.ts
  package-lock.json
  package.json
Due: prettier, eslint

feat: basic front and back-ends without routes
  api/package-lock.json
  api/package.json
Due: prettier

feat: first route and controller
  api/app.ts
  api/package.json
  api/src/app.ts
  api/src/controllers/items.ts
  api/src/routes/items.ts
Due: prettier, eslint

feat: dockerisation du back-end
  api/.dockerignore
  api/Dockerfile
  api/db-scripts/test-db.sql
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/controllers/health.ts
  api/src/db/config.ts
  api/src/routes/health.ts
  api/src/routes/items.ts
  api/src/server.ts
Due: prettier, eslint

feat: wip solving Docker port undefined bug
  .dockerignore
  api/src/app.ts
  api/src/server.ts
  client/.dockerignore
  docker-compose.yml
Due: prettier, eslint

fix: docker starting bug now resolved
  api/package.json
  api/src/controllers/health.ts
Due: prettier, eslint

feat: front-end with docker and working back-end connexion
  client/.dockerignore
  client/Dockerfile
  client/package.json
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/src/entities.ts
  docker-compose.yml
  eslint.config.ts
Due: prettier, eslint

feat: first simple workflow
  .github/workflows/hello.yml
Due: none

feat: with github action linter
  .github/workflows/lint.yml
Due: none

feat: with readme
  .github/workflows/lint.yml
  README.md
Due: prettier

fix: prettier as a dev dependency
  package-lock.json
  package.json
Due: prettier

fix: with .env.example
  .env.example
  .github/workflows/lint.yml
  .gitignore
  README.md
Due: prettier

fix: trying to add environnement variable instead of hard-coded ones
  api/.env.example
  api/src/app.ts
  api/src/server.ts
  client/package-lock.json
  client/package.json
  client/src/app/page.tsx
  docker-compose.yml
Due: prettier, eslint

feat: simple homepage and structure for the event feature
  client/.env.example
  client/.gitignore
  client/src/app/globals.css
  client/src/app/test.tsx
  client/src/components/Footer.tsx
  client/src/components/Layout.tsx
  client/src/components/Navbar.tsx
  client/src/features/eventFeature/components/eventList.tsx
  client/src/features/eventFeature/data/mockEvents.json
  client/src/features/eventFeature/services/eventService.ts
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/healthPage.tsx
  client/src/pages/index.tsx
  client/src/pages/myEvents.jsx
  client/src/styles/globals.css
Due: prettier, eslint

fix: change url of healthPage in README
  README.md
Due: prettier

feat: clean homepage
  client/next.config.ts
  client/src/components/Footer.tsx
  client/src/components/Layout.tsx
  client/src/components/Navbar.tsx
  client/src/pages/healthPage.tsx
  client/src/pages/index.tsx
  client/src/styles/globals.css
Due: prettier, eslint

feat: basic grid with cards for events
  client/src/components/Layout.tsx
  client/src/components/Navbar.tsx
  client/src/entities.ts
  client/src/features/eventFeature/components/EventCard.tsx
  client/src/features/eventFeature/components/eventList.tsx
  client/src/features/eventFeature/data/mockEvents.json
  client/src/features/eventFeature/data/mockEventsData.json
  client/src/features/eventFeature/services/eventService.ts
  client/src/pages/_app.tsx
  client/src/pages/healthPage.tsx
  client/src/pages/index.tsx
  client/src/pages/myEvents.jsx
  client/src/styles/globals.css
Due: prettier, eslint

feat: better frontend integration
  client/src/components/Footer.tsx
  client/src/components/Layout.tsx
  client/src/components/Navbar.tsx
  client/src/entities.ts
  client/src/features/eventFeature/components/EventCard.tsx
  client/src/features/eventFeature/data/mockEventsData.json
  client/src/features/eventFeature/services/eventService.ts
  client/src/pages/healthPage.tsx
  client/src/pages/myEvents.jsx
  client/src/pages/myEvents.tsx
  client/src/styles/globals.css
Due: prettier, eslint

Diagramme de classes
  Diagramme sans nom.drawio
Due: none

Mettre à jour Diagramme sans nom.drawio
  Diagramme sans nom.drawio
Due: none

feat: starting with drizzle
  .env.example
  api/.env.example
  api/Dockerfile
  api/drizzle.config.ts
  api/package-lock.json
  api/package.json
  api/src/db/schema.ts
  api/src/server.ts
  docker-compose.yml
Due: prettier, eslint

feat: working drizzle postgres database
  .env.example
  docker-compose.yml
Due: none

feat: wip on fixtures
  api/.env.example
  api/drizzle.config.ts
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/controllers/users.ts
  api/src/db/fixtures.ts
  api/src/db/schema/test.ts
  api/src/db/schema/users.ts
  api/src/routes/users.ts
  api/src/server.ts
Due: prettier, eslint

feat: two new tables
  api/.env.example
  api/src/app.ts
  api/src/controllers/festiveEvent.ts
  api/src/db/fixtures.ts
  api/src/db/schema/festiveEvent.ts
  api/src/db/schema/usersEvents.ts
  api/src/routes/festiveEvent.ts
Due: prettier, eslint

feat: wip on clear fixtures
  api/src/db/fixtures.ts
  api/src/db/schema/gifts.ts
Due: prettier, eslint

feat: add comment
  api/src/app.ts
Due: prettier, eslint

fix: versions of node and postgres for Docker
  api/Dockerfile
  client/Dockerfile
  docker-compose.yml
Due: none

feat: playwhright installed for testing
  client/.github/workflows/playwright.yml
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/tests/example.spec.ts
Due: prettier, eslint

feat: initial commit
  .github/workflows/playwright.yml
Due: none

feat: with playwright github action
  .github/workflows/playwright.yml
  test-results/.last-run.json
Due: prettier

feat: new test gitHub Action playwright
  .github/workflows/playwright.yml
Due: none

feat: another test with other report path
  .github/workflows/playwright.yml
Due: none

feat: other test
  .github/workflows/playwright.yml
Due: none

feat: adding new e2e tests
  client/tests/healthPage.ts
  client/tests/homePage.ts
Due: prettier, eslint

fix: correction build command client
  client/package.json
  client/src/pages/index.tsx
  client/tests/example.spec.ts
  client/tests/healthPage.spec.ts
  client/tests/homePage..spec.ts
  client/tests/homePage.ts
  test-results/.last-run.json
Due: prettier, eslint

fix: updated next.js version
  client/package-lock.json
  client/package.json
Due: prettier

feat: simple unit test
  api/package-lock.json
  api/package.json
  api/src/controllers/health.test.ts
  api/src/db/fixtures.ts
  api/src/db/schema/testSchema.ts
Due: prettier, eslint

feat: add CRUD functions and their unit tests
  api/src/controllers/festiveEvent.test.ts
  api/src/controllers/festiveEvent.ts
  api/src/controllers/users.test.ts
  api/src/controllers/users.ts
  api/src/routes/festiveEvent.ts
  api/src/routes/users.ts
Due: prettier, eslint

feat: three gitHub action for main
  api/src/controllers/gifts.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,css,md,json}
  eslint: any of: *.{js,jsx,ts,tsx}
